{% extends 'base.html' %} {% block content %}
<h1>{{user.get_full_name}}</h1>
<div class="card-panel">
    <div class="card-content">
        <div class="row">
            <div id="profile-photo-upload" class="col s4">
                {% if photos %}
                <a href="{% url 'remove_profile_photo' %}">
                    <div class="profile-photo" style="background-image: url('{{photos.first }}');"></div>
                </a>
                {% else %}
                <form action="{% url 'add_profile_photo' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="photo-file">
                    <br><br>
                    <input type="submit" class="btn green" value="Add Photo">
                </form>
                {% endif %}
            </div>
            <div id="profile-details" class="col s8">
                <p><b>Email: </b>{{user.email}}</p>
            </div>
        </div>
    </div>
    <a href="{% url 'profile_edit' %}" class="btn blue" id="profile-edit">Edit Profile</a>
</div>
{% endblock %}