{% extends 'base.html' %} {% block content %}
<a href="{% url 'watch_create' %}"><button class="btn green" style="float:right; margin-top: 65px;">Add New Watch</button></a>
<h1>Watch Collection</h1>
{% for watch in watch_list %}
<div class="card card-medium">
    <a href="{% url 'watch_detail' watch.id %}">
        <div class="card-content">
            <div class="row">
                <div class="col s3">
                    <div id="title-image" style="background-image: url({{watch.photo_set.first}})">
                    </div>
                </div>
                <div class="col s9">
                    <span class="card-title">
                        <h4><b>{{watch.name}}</b></h4>
                        <h6>{{ watch.make }}</h6>
                        </span>
                    <p><b>Reference: </b>{{ watch.model_ref }}</p>
                </div>
            </div>
        </div>
    </a>
</div>
{% endfor %} {% endblock %}