{% extends 'base.html' %} {% block content %}
<h1><span>{{ watch.name }}</span> Details</h1>
<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <h4>{{ watch.name }}</h4>
                <p>{{ watch.make }}</p>
                <p>{{ watch.get_movement_display }}</p>
            </div>
            {% if object.owner == user %}
            <div class="card-action">
                <a href="{% url 'watch_update' watch.id %}" class="blue-text">Edit</a>
                <a href="{% url 'watch_remove' watch.id %}" class="red-text">Delete</a>
            </div>
            {% endif %}
            </a>
        </div>
        <div class="card">
            <div class="card-content">
                <table>
                    <thead>
                        <th>Service</th>
                        <th>Date</th>
                    </thead>
                    <tbody>
                        {% for service in watch.service_set.all %}
                        <tr>
                            <td>{{service.name}}</td>
                            <td>{{service.timestamp|date}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if object.owner == user %}
        <div class="card">
            <div class="card-content">
                <form action="{% url 'add_service' watch.id %}" method="POST">
                    {% csrf_token %}
                    <input name="name" type="text" placeholder="Service Name">
                    <textarea name="notes" placeholder="Notes"></textarea>
                    <input name="timestamp" type="date">
                    <input type="submit" class="btn green" value="Add Service">
                </form>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col s6">
        <form action="{% url 'add_photo' watch.id %}" method="POST" enctype="multipart/form-data" class="card-panel">
            {% csrf_token %}
            <input type="file" name='photo-file'>
            <br><br>
            <input type="submit" class="btn green" value="Upload Image">
        </form>

        {% if watch.photo_set.all %} {% for photo in watch.photo_set.all %} {% if object.owner == user %}
        <a href="/watches/{{watch.id}}/photos/{{photo.id}}/remove">
            <img class="responsive-img card-panel" src="{{photo.url}}"></a> {% else %}
        <img class="card-panel card-smaller" src="{{photo.url}}"></a>
        {% endif %} {% endfor %} {% endif %}
    </div>
</div>
{% endblock %}